
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI Calculator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/calc.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/showbank.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/pdf.css' %}"> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


  
</head>
<body>
    <header>
        <div class="container header-container">
            <div class="logo">Kredit Bee</div>
            <button class="mobile-menu-btn">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="{% url "dashboard" %}">Dashboard</a></li>
                    {% comment %} <li><a href="#">Create Approval Letter</a></li>
                    <li><a href="#">Add Bank</a></li> {% endcomment %}
                    <li><a href="{% url "emiCalculator" %}">Loan Calculator</a></li>
                    <li><a href="{% url "addbank" %}">Add Bank</a></li>
                    <li><a href="{% url "logout_view" %}" style="color: red;">Logout</a></li>

                </ul>
            </nav>
        </div>
    </header>
     <main class="container">
        {% block content %}{% endblock %}
    </main>
    </body>
</html>